.Contagens{
    display: flex;
    flex-direction: column;
    
    
}

.DescSubMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    
    padding: 1rem;
    background-color: #fff;
    
    cursor: pointer;
    list-style: none;
    font-size: 0.8rem;

}

.Descricao{
    display: flex;
    justify-content: space-between;
}


.CxContagem{
    width: 70%;
    display: flex;
    justify-content: space-around;
    
    
}

.painelLateral{
    width: 30%;

}