.Painel {
    display: flex;
    flex-direction: column;
  
    width: 100vw;
    height: 100vh;
    
  }
  
 .MainPainel{
  border-radius: 4px;
  background-color: #fff;
  padding: 4px;


 }




  
  